.header{
    // width: 480px;
    margin: 0 auto;
background-color: rgb(223, 141, 41);

    @media screen and (min-width: 768px) {
        width: 768px;
        
    }
    
}
.header__container{
    display: flex;
    padding: 16px 15px;
    align-items: center;
    
    background-color: $white;
    
    @media screen and (min-width: 768px) {
        padding: 0 15px;
    }
}
.header__nav{
    width: 100%;
 display: flex;
 justify-content: space-between;
}



.header__menu-button{
   border: none;
   background-color: $white;

   @media screen and (min-width: 768px) {
       display: none;
       
   }
}
.header__menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

        &:hover, &:focus{
        fill: $color-accent;
    }
}
.header__icon-cross{
    display: none;
}
.header__menu-button.is-open .header__icon-cross{
    display: block;
}
.header__menu-button.is-open .header__icon-menu{
    display: none;
}