.hero{
    width: 480px;
    height: 400px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
     url(../../../img/bgimg.jpg);
    background-size: cover;
    
    @media screen and (min-width: 768px) {
        width: 768px;
        background-size: 768px 400px;    
    }
   
}
.hero__container{
 padding: 118px 60px;
}
.hero__title{
    margin-bottom: 30px;
    text-align: center;

    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white;
}