.team{
    background-color: $bgcolor-button;
}
.team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child){
        margin-bottom: 30px;
    }
}
.team__info-wrapper{
    padding: 30px 122px;
}
.team__name{
    text-align: center;

    color: $color_primary-text;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team__info{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;

    color: $color_secondary-text;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}